<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Submissions</title>
  </head>
  <body>
    <a href="/contactus">Back</a>
    <h1>All Submissions</h1>
    <div class="parent">
      <% for (let submission of submissions) { %>
      <div class="sub-container">
        Name: <%= submission.name %> <br />
        Email: <%= submission.email %> <br />
        Message: <%= submission.message %>
      </div>
      <% } %>
    </div>
  </body>
</html>
