<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
  </head>
  <body>
    <h1>Thanks for your email!</h1>
    <p>Review what was submitted:</p>
    <p>Name: <%= response[response.length-1].name %></p>
    <p>E-mail: <%= response[response.length-1].email %></p>
    <p>Message: <%= response[response.length-1].message %></p>
  </body>
</html>
