<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
  </head>
  <body>
    <h1>Thanks for your email!</h1>
    <p>Review what was submitted:</p>
    <p>Name: <%= submission.name %></p>
    <p>E-mail: <%= submission.email %></p>
    <p>Message: <%= submission.message %></p>
    <a href="/contactus">Submit Another Form</a>
  </body>
</html>
