<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/contactus">Contact Us</a> <br />
    <a href="/contactus/showall">Show All Submissions</a>
  </body>
</html>
